/*download*/
.download-fix {
	position:fixed;
  	width:100%;
  	bottom:0;
  	left:0;
  	background: rgba(0,0,0,0.8);
  	background: #000\9;
  	height: 130px;
  	z-index:100;
}
.download-room {
	width:1200px;
	height: 100%;
	display:table;
	margin:0 auto;
}
.download-cell {
  display: table-cell;
  vertical-align: middle;
  padding:0 15px;
  position: relative;
}
.download-cell:first-child {
  padding-right: 0;
  padding-left: 40px;
  width: 260px;
}
.download-cell:first-child div{
  margin-right:20px;
}
.download-cell:last-child {
  padding-left: 0;
  padding-right: 110px;
  width: 32px;
}
.download-cell p {
  color:#fff;
  font-size: 26px;
  font-weight:600;
}
.download-cell span{
  color: #40c16b;
  font-size:30px;
}
.download-app-androw {
  /*background: url("//static.zhongan.com/website/online/assets/images/QRcode/code.png") no-repeat;
  background-size:100% auto;*/
  width:230px;
  height: 100px;
  display: inline-block;
  vertical-align: middle;
  overflow:hidden;
}
.download-app-androw img {
    width: 230px;
    height: 100px;
}
.download-app-ios {
  background: url("//static.zhongan.com/resource/images/app/app-ios.png") no-repeat;
  background-size:100% auto;
  width:110px;
  height: 110px;
  display: inline-block;
  vertical-align: middle;
}
.download-link {
  background:#40c16b;
  color:#fff;
  width:150px;
  height: 44px;
  line-height:44px;
  text-align:center;
  display: inline-block;
  vertical-align: middle;
  border-radius:5px;
  -webkit-border-radius:5px;
  font-size:16px;
}
.download-quit {
  background: url("//static.zhongan.com/resource/images/app/download-close-icon.png") no-repeat;
  background-size:100% auto;
  width:20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  left:0px;
  top:15px;
}
