.page-service-center {
    padding-bottom: 1px;
    background-image: -webkit-gradient(linear, left top, right top, from(#f9fbfd), to(#f9fbfd)), -webkit-gradient(linear, left top, right top, from(#fff), to(#fff));
    background-image: -o-linear-gradient(left, #f9fbfd, #f9fbfd), -o-linear-gradient(left, #fff, #fff);
    background-image: linear-gradient(90deg, #f9fbfd, #f9fbfd), linear-gradient(90deg, #fff, #fff);
    background-repeat: no-repeat;
    background-size: 100% 1272px, 100% 100%
}

.page-service-center .top-bg {
    height: 500px;
    background: url(../images/bg.1837e47e.png) top no-repeat;
    background-size: cover
}

.page-service-center .page-box {
    margin-top: -80px
}

.page-service-center .card {
    padding-top: 34px;
    margin-bottom: 36px;
    border-radius: 4px
}

.page-service-center .card.bg {
    background: #fff;
    -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .05)
}

.page-service-center .card h3 {
    font-size: 36px;
    font-weight: 400;
    padding: 30px 0 50px;
    text-align: center;
    color: #464646
}

.comp-auto-service {
    padding-bottom: 90px
}

.comp-auto-service .item {
    font-size: 20px;
    display: inline-block;
    float: left;
    padding-top: 142px;
    text-align: center;
    color: #343434
}

.comp-auto-service .item.bg-1 {
    background: url(../images/1.cfa91f2c.png) no-repeat top;
    background-size: 108px 108px
}

.comp-auto-service .item.bg-2 {
    background: url(../images/2.e743e334.png) no-repeat top;
    background-size: 108px 108px
}

.comp-auto-service .item.bg-3 {
    background: url(../images/3.21d69bfa.png) no-repeat top;
    background-size: 108px 108px
}

.comp-auto-service .item.bg-4 {
    background: url(../images/4.6d5a1312.png) no-repeat top;
    background-size: 108px 108px
}

.comp-auto-service .item.bg-5 {
    background: url(../images/5.afab8661.png) no-repeat top;
    background-size: 108px 108px
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 14px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
    font-family: PingFangSC-Light, helvetica neue, hiragino sans gb, arial, microsoft yahei ui, microsoft yahei, simsun, sans-serif;
    line-height: 1.42857143;
    -webkit-font-smoothing: subpixel-antialiased
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a {
    text-decoration: none;
    color: #6c6c6c;
    outline: none
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

figure {
    margin: 0
}

img {
    vertical-align: middle
}

blockquote, figure, form, h1, h2, h3, h4, h5, h6, p {
    margin: 0
}

dd, dl, li, ol, ul {
    margin: 0;
    padding: 0
}

ol, ul {
    list-style: none outside none
}

.comp-customer-service .item {
    font-size: 16px;
    display: inline-block;
    width: 580px;
    height: 240px;
    padding: 65px 0 0 260px;
    color: #343434;
    -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .05)
}

.comp-customer-service .item + .item {
    margin-left: 40px
}

.comp-customer-service .item.bg-1 {
    background: url(../images/1.c7261019.png) no-repeat 30px;
    background-size: 194px 196px
}

.comp-customer-service .item.bg-2 {
    background: url(../images/2.b199f222.png) no-repeat 30px;
    background-size: 194px 196px
}

.comp-customer-service .item .title {
    font-size: 24px;
    margin-bottom: 8px;
    color: #464646
}

.comp-customer-service .item .primary-button {
    line-height: 40px;
    width: 136px;
    height: 40px;
    margin-top: 17px
}