<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link type="image/x-icon" rel="shortcut icon" href="../image/favicon.ico">
    <title>产品下架_众安保险官网</title>
    <META NAME="Keywords" CONTENT="众安保险,众安在线,众安保险官网,让保险有温度,做有温度的保险">
    <META NAME="Description" CONTENT="众安保险是国内首家也是唯一一家互联网保险公司，个性化定制风险解决方案，全方位采用互联网先进科技，追求流畅、贴心、温暖的用户体验">
    <script src="http://47.93.221.88/previous/userpervious/product//js//modernizr.js"></script>
    <!--[if lt IE 9]>
    <script src="http://47.93.221.88/previous/userpervious/product/js/html5shiv.js"></script>
    <![endif]-->
    <style>
        .pro_down {
            margin: 0 auto;
            color: #282828;
            font-size: 18px;
            margin-top: 60px;
            line-height: 90px;
            background: url(http://47.93.221.88/previous/userpervious/product/image/icon_offline.png) no-repeat;
            text-indent: 104px;
            width: 218px;
        }

        .u-btn {
            display: block;
            margin: 40px auto 0;
            height: 48px;
            width: 200px;
            line-height: 48px;
            text-align: center;
            color: #0eac76;
            font-size: 20px;
            border: 1px solid #12c287;
            border-radius: 4px;
        }

        .za-xia_hei {
            height: 450px;
            position: relative;
        }
    </style>
    <link href="http://47.93.221.88/previous/userpervious/product/css/remedy.css" rel="stylesheet">
</head>

<body>
<!-- head start -->
<div th:replace="/public/public_head :: head"></div>
<div th:replace="/public/public_head :: nav"></div>
<!-- head end -->
<div>
    <div class="za-l-w za-margin-auto za-xia_hei">
        <div class="pro_down">该商品已下架</div>
        <a href="#" class="u-btn">返回首页</a>
    </div>
</div>

<!-- footer start -->
<!--footer  start-->
<div class="za-footer">
    <div class="za-footer">
        <div class="za-footer-layout">
            <div class="za-footer-help">
                <div class="help-item"><h4 class="help-item-hd">众安保险</h4>
                    <ul class="za-footer-help-list">
                        <li class="help-list-item"><a href="#" target="_blank" title="关于我们" rel="nofollow">关于我们</a>
                        </li>
                        <li class="help-list-item"><a href="#" target="_blank" title="新闻中心"
                                                      rel="nofollow">新闻中心</a></li>
                        <li class="help-list-item"><a href="#" target="_blank" title="加入我们"
                                                      rel="nofollow">加入我们</a></li>
                        <!--<li class="help-list-item"><a href="https://www.zhongan.com/channel/public/2018xiaozhao/index.html" target="_blank" title="2019校园招聘" rel="nofollow">2019校园招聘</a></li>-->
                        <li class="help-list-item"><a href="#" target="_blank" title="隐私声明"
                                                      rel="nofollow">隐私声明</a></li>
                        <li class="help-list-item"><a href="#" target="_blank"
                                                      title="风险提示" rel="nofollow">风险提示</a></li>
                    </ul>
                </div>
                <div class="help-item"><h4 class="help-item-hd">发现</h4>
                    <ul class="za-footer-help-list">
                        <li class="help-list-item"><a href="#" target="_blank" title="网站地图">网站地图</a>
                        </li>
                        <li class="help-list-item"><a href="# " target="_blank"
                                                      title="车险计算器">车险计算器</a></li>
                        <li class="help-list-item"><a href="#" target="_blank"
                                                      title="众安科技">众安科技</a></li>
                        <li class="help-list-item"><a href="#" target="_blank" title="众安开放平台">众安开放平台</a>
                        </li>
                        <li class="help-list-item"><a href="#" target="_blank" title="众安小贷"
                                                      rel="nofollow">众安小贷</a></li>
                        <li class="help-list-item"><a href="#" target="_blank" title="投诉与建议"
                                                      rel="nofollow">投诉与建议</a></li>
                        <li class="help-list-item"><a href="#" target="_blank"
                                                      title="众安安全应急响应中心" rel="nofollow">众安安全应急响应中心</a></li>
                    </ul>
                </div>
                <div class="help-item"><h4 class="help-item-hd">关注众安</h4>
                    <ul class="za-footer-help-list">
                        <li class="help-list-item"><i class="icon-chat"></i>微信公众号<span class="code code-chat"></span>
                        </li>
                        <li class="help-list-item"><i class="icon-alipay"></i>支付宝服务窗<span
                                class="code code-alipay"></span></li>
                    </ul>
                </div>
                <div class="help-item help-item-server"><h4 class="help-item-hd">客户服务</h4>
                    <div class="server-tel" style="font-size: 15px"><i class="icon-tel"></i><span class="tel-numb"
                                                                                                  style="font-size: 16px">1010-9955 </span>
                        <div>全国统一服务热线</div>
                        <div>健康险报案服务时间：7×24小时</div>
                    </div>
                    <div class="server-tel" style="font-size: 15px"><i class="icon-tel"></i><span class="tel-numb"
                                                                                                  style="font-size: 16px">021-80399188</span>
                        <div>举报建议及投诉电话</div>
                    </div>
                    <p class="server-email" style="font-size: 15px"><i class="icon-email"></i><a
                            href="mailto:cs@zhongan.com">客服邮箱：cs@zhongan.com</a></p>
                    <p class="server-email" style="font-size: 15px"><i class="icon-email"></i><a
                            href="mailto:jubao@zhongan.com">保险欺诈举报邮箱：jubao@zhongan.com</a></p></div>
            </div>
            <div class="za-footer-bd"><h4 class="footer-logo"><a href="#" title="众安保险">众安保险</a>
            </h4>
                <p class="footer-copyright"><a target="_blank"
                                               href="https://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010102004862"
                                               rel="nofollow"><img
                        src="http://47.93.221.88/previous/userpervious/product/image/police.png"
                        style="vertical-align:-6px;margin-right:8px;" alt="沪公网安备 31010102004862号">沪公网安备 31010102004862号</a><a
                        target="_blank" rel="nofollow" style="margin-left: 17px"
                        href="http://www.miitbeian.gov.cn/"><img
                        src="http://47.93.221.88/previous/userpervious/product/image/network.png"
                        alt="沪ICP备13041135号-1" style="vertical-align:-4px;margin-right:8px;">沪ICP备13041135号-1</a><a
                        target="_blank" style="margin-left: 17px"
                        href="https://218.242.124.22:8082/businessCheck/verifKey.do?showType=extShow&serial=9031000020170721110206000001942333-SAIC_SHOW_310000-20131111112754954041&signData=MEUCIGONA4AG1pExDb6kOnq0gaicafgHzjVrZpf3YseTN5ZkAiEA/+LP3riJh9rj8/NlhMQS6OWt02fu1TeXWB59GYeY29w="
                        rel="nofollow"><img width="20"
                                            src="http://47.93.221.88/previous/userpervious/product/image/lz2.jpg"
                                            alt="沪工商备 20131111112754954" style="vertical-align:-4px;margin-right:8px;">沪工商备
                    20131111112754954</a></p></div>
        </div>
    </div><!--end  footer--><!--统计代码-->
    <!--<script>var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?ecc6d381dd1b2d77f324681c7a9d76d5";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();</script>&lt;!&ndash;百度自动推送代码2&ndash;&gt;
    <script>(function () {
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        } else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();</script>  -->   <!-- footer end -->
</div>
<!--<a class="za-pro-mflowdeploy" href="#top"></a>-->
<script src="http://47.93.221.88/previous/userpervious/product/js/jquery-1.8.3.min.js"></script>
<!--<script src="js/common.js"></script>
<script src="js/ilog.min.js"></script>-->

</body>
</html>
