<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/xadmin.css">
</head>
<body>
<blockquote class="layui-elem-quote" style="background-color: #ffffff">
    <h1 class="ptop">众安在线保险财产股份有限公司</h1>
    <h1 class="ptop">保险保单明细表</h1>
    <p style="margin-top: 40px;display: inline-block">根据投保人申请,本公司承担下列保险责任,特此签发本保险单为证</p>
    <p style="display: inline-block;margin-left: 400px;margin-bottom: 20px">保单号码:<span style="font-size: 16px;color: #3aa545">212010210210</span></p>
</blockquote>
<fieldset class="layui-elem-field">
    <legend>保险名称</legend>
    <div class="layui-field-box">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="layui-carousel x-admin-carousel x-admin-backlog" lay-anim="" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: 90px;">
                        <div carousel-item="">
                            <ul class="layui-row layui-col-space10 layui-this">
                                <li class="layui-col-zw1">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <p><cite>无人机第三者责任保险(个人)</cite></p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>
<fieldset class="layui-elem-field">
    <legend>投保人信息</legend>
    <div class="layui-field-box">
        <div class="layui-field-box">
            <table class="layui-table">
                <tbody>
                <tr>
                    <th>姓名</th>
                    <td>张三</td></tr>
                <tr>
                    <th>性别</th>
                    <td>男</td></tr>
                <tr>
                    <th>证件号</th>
                    <td>430932849023849283094234</td></tr>
                <tr>
                    <th>邮件地址</th>
                    <td>877323@163.com</td></tr>
                <tr>
                    <th>手机号</th>
                    <td>17678197293</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</fieldset>
<fieldset class="layui-elem-field">
    <legend>被保险人信息</legend>
    <div class="layui-field-box">
        <div class="layui-field-box">
            <table class="layui-table">
                <tbody>
                <tr>
                    <th  style="width: 27.5%">与投保人关系</th>
                    <td></td></tr>
                <tr>
                    <th>姓名</th>
                    <td>张三</td></tr>
                <tr>
                    <th>性别</th>
                    <td>男</td></tr>
                <tr>
                    <th>证件号</th>
                    <td>430932849023849283094234</td></tr>
                <tr>
                    <th>邮件地址</th>
                    <td>877323@163.com</td></tr>
                <tr>
                    <th>手机号</th>
                    <td>17678197293</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</fieldset>
<fieldset class="layui-elem-field">
    <legend>保险详情</legend>
    <div class="layui-field-box">
        <table class="layui-table">
            <tbody>
            <tr>
                <th  style="width: 27.5%">保险名称</th>
                <td>无人机第三者责任保险</td></tr>
            <tr>
                <th>保险项目</th>
                <td>无人机第三者责任</td></tr>
            <tr>
                <th>保险金额</th>
                <td>6000.00元</td></tr>
            <tr>
                <th>保险期限</th>
                <td>12321312321321321</td></tr>
            <tr>
                <th>总保险费</th>
                <td>38</td></tr>
            </tbody>
        </table>
    </div>
</fieldset>
<p style="margin-bottom: 30px;margin-top: 10px">尊敬的客户若对保单有异议,请尽快联系本公司,全国统一(1010-9955或400-999-9595)</p>

</body>
</html>