#agreement_statement {
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
    padding: 0px 30px 12px 50px !important;
}
#agreement_statement input[type='checkbox']{
    width: 15px;
    height: 18px;
    background-color: #fff;
    -webkit-appearance:none;
    border-radius: 2px;
    outline: none;
    background: url("../images/passport/checkbox.png") no-repeat top left;
}
#agreement_statement input[type=checkbox]:checked{
    background: url("../images/passport/checkbox.png") no-repeat top left;
   background-position: -2px -28px;
}
.za-ins-cbxitem{
    display: block;
    position: absolute;
    width: 30px;
    left: 32px;
}
