@charset "utf-8";
/* CSS Document */

.sliderContent #ali_nocaptcha{width:300px;}

#mypolicy-box0 .za-acc-orlist-w200{width:278px;}
.buy_btn {
    background: url(//static.zhongan.com/website/online/assets/images/ygd/icon_buy.png) no-repeat;
    width: 140px;
    height: 40px;
    display: inline-block;
}
.nc-container .imgCaptcha .imgCaptcha_text input {
    border: 1px solid #666;
}