/*日历*/
.c-calendar {
	width: 242px;
	background-color: #ffffff;
	padding: 12px 18px 10px 18px;
	font-size: 12px;
	border: 1px solid #737373;
	border-radius: 5px;
	display: none;
	position: absolute;
	z-index: 100;
}
.c-calendar-input-wrap {
	position: relative;
}
.c-calendar-input-wrap b {
	position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 100%;
    background: url(./images/calendar-icon.png) center center no-repeat;
    transition: transform .3s;
}
.c-calendar-input-wrap.active b{
	transform: rotateZ(180deg);
}
.c-calendar-input {
	width: 96%;
	border: none;
	background-color: transparent;
	height: 100%;
}
.c-calendar-header {
	height: 30px;
	line-height: 30px;
	position: relative;
}
.c-calendar-arrow-img {
	display: block;
	background: url(./images/calendar.png);
	width: 8px;
	height: 15px;
}
.c-calendar-arrow {
	cursor: pointer;
	top: 8px;
	position: absolute;
}
.c-calendar-arrow-prev {
	left: 0
}
.c-calendar-arrow-next {
	right: 0
}
.c-calendar-arrow-next span {
	background-position: 0 -15px;
}
.c-calendar-month {
	color: #81908b;
	text-align: center;
}
.c-calendar-month .month-containt {
	width: 146px;
	cursor: pointer;
	display: inline-block;
	background-color: #d1f2e7;
	color: #5a5a5a;
}
.c-calendar-month .month-text {
	padding-left: 20px;
}
.c-calendar-panel {
	/*margin-top: 10px;*/
}
.c-calendar-panel-inner {
	width: 100%;
	border-collapse: separate;
	border-spacing: 1px;
}
.c-calendar-panel-inner td {
	color: #5a5a5a;
	text-align: center;
	cursor: pointer;
	padding: 0;
	height: 28px;
	border: 1px solid transparent;
}
.c-calendar-panel-inner .c-calendar-preday,
.c-calendar-panel-inner .c-calendar-nextday {
	color: #c8c8c8;
}
.c-calendar-panel-inner .c-calendar-disabled {
 	cursor: not-allowed;
	color: #E6E6E6;
}
.c-calendar-date {
	color: #5A5A5A;
    text-align: center;
    padding: 0;
}
.c-calendar-panel-inner .c-calendar-day:hover,
.c-calendar-monthpicker li:hover {
	border-color: #A0A0A0;
}

.c-calendar-selected {
	background-color: #d2f3e8;
}
.c-calendar-monthpicker {
	display: none;
	background-color: #fff;
    position: absolute;
    top: 42px;
    padding-top: 8px;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    z-index: 9999;
    
}
.c-calendar-monthpicker li {
	border: 1px solid transparent;
	cursor: pointer;
}
.c-calendar-year-panel {
    float: left;
	border-right: 1px solid #c3c3d6;
    width: 108px;
	padding: 0 16px;
}
.c-calendar-month-panel {
	margin-left: 140px;
    height: 100%;
	width: 106px;
	padding: 0 16px;
}
.c-calendar-yearnav {
	position: relative;
	height: 30px;
}
.c-monthpicker-yearnav-prev, .c-monthpicker-yearnav-next {
    position: absolute;
}
.c-monthpicker-yearnav-prev {
	left: 20px;
} 
.c-monthpicker-yearnav-next {
	right: 20px;
}
.c-monthpicker-yearnav-prev span {
	cursor: pointer;
	background-position: 0 -30px;
}
.c-monthpicker-yearnav-next span {
	cursor: pointer;
	background-position: 0 -45px;
}
.c-calendar-year-panel li {
    float: left;
    color: #7b7b7b;
    text-align: center;
    vertical-align: middle;
    width: 52px;
    line-height: 28px;
}
.c-calendar-month-panel li {
	float: left;
    color: #7b7b7b;
    text-align: center;
    vertical-align: middle;
    width: 50px;
    line-height: 28px;
}